# Models (Too large for GitHub)
whisper-hindi-v1/
whisper-hindi-ct2/
whisper-svarah-lora/
whisper-hindi-cv-lora/
whisper-hindi-merged/

# Python
__pycache__/
*.pyc

# System
.DS_Store

# Virtual Environment
venv/
env/
.env
